*
{
    padding: 0px;
    margin: 0px;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
header{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
}
img{
    width: 60px;
    height: 60px;
    margin-left: 15px;
    margin-top: -5px;
    padding-bottom: 10px;
    position: relative;
    
}
.card-header{
    font-weight: 600;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: inherit;
    text-decoration: yellowgreen;
    font-size: 20px;
    font-stretch:semi-expanded;
}
.card-footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
